<h1>
    Privacy Policy
  </h1>
  
  We will keep all your information safe.
  
  By clicking on “Login", you agree to you agree to
  
  Zlivio Terms of Service , including our Privacy policy.
  
  
  
  
  
  <h3>How We Use Your Information</h3>
  We use your information for business purposes, such as:
  
  To provide our Services, including to register you for access to the Services and to maintain and enhance data available to our customers in our Database;
  To respond to your questions or inquiries, including to provide customer support and troubleshooting assistance;
  To communicate with you, including to send you emails about products and services that may interest you;
  To manage and remember your preferences and personalize the Services;
  To analyze and improve the Services or any other products and services we provide;
  To verify your identity;
  To comply with our legal obligations or as permitted by law;
  To protect the safety and/or integrity of our users, employees, third parties, members of the public, and/or our Services;
  To prevent fraud and enforce our legal terms; and
  To administer and troubleshoot the Services.